@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MS W98 UI";
  src: url("/fonts/MSW98UI-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MS W98 UI";
  src: url("/fonts/MSW98UI-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
